body
	{
	font-size:14px;
	font-family:Arial;
	color:#07425B;
	background-color:white;
	margin-top:25px;
	margin-bottom:25px;
	margin-left:25px;
	margin-right:25px;
	}
H1
	{
	font-size:25px;
	font-family:Arial;
	color:B8695C;
	margin-top:25px;
	margin-bottom:25px;
	margin-left:25px;
	margin-right:25px;
	}
H3
	{
	font-size:18px;
	font-family:Arial;
	color:CDBB79;
	margin-top:25px;
	margin-bottom:25px;
	margin-left:25px;
	margin-right:25px;
	}
input
	{
	font-size:14px;
	font-family:Arial;
	color:52A39D;
	}
