body {
    font-size: 14px;
    font-family: Arial;
    color: #08415C;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

H1 {
    font-size: 35px;
    font-family: Arial;
    color: #52A39D;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

H3 {
	font-size:18px;
	font-family:Arial;
	color:#CDBB79;
	margin-top:25px;
	margin-bottom:25px;
	margin-left:25px;
	margin-right:25px;
}

input {
	font-size:14px;
	font-family:Arial;
	color:#52A39D;
}
